:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #E4DCCF;
  background-color: hsl(43, 54%, 95%);

  --navyBlue: hsl(212, 100%, 18%);
  --darkerNavy: hsl(212, 100%, 28%);
  --lightRed: hsl(360, 78%, 62%);
  --lightGrey: hsl(37, 28%, 85%);
  --attentionGreen: hsl(100, 100%, 38%);
  --attentionDarkGreen: hsl(100, 100%, 28%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#navbar{
  width: 100%;
  font-size: 2vw;
  padding: 5px;
  background-color: var(--navyBlue);
}

.navbar-button{
  background-color: var(--navyBlue);
  border: none;
  font-size: 2vw;
  color: var(--lightGrey);
  text-decoration: none;
  margin: 1vw;
  padding: 2px;
  border-radius: 5px;
}

.navbar-button-active{
  background-color: var(--darkerNavy);
  border: none;
  font-size: 2vw;
  color: var(--lightGrey);
  text-decoration: none;
  margin: 1vw;
  padding: 2px;
  border-radius: 5px;
}

.navbar-button:hover{
  transition: 1s;
  background-color: var(--darkerNavy);
}



h1{
  width: 100%;
  font-size: 5vw;
  text-align: center;
  background-color: var(--lightRed);
}

#About{
  display: flex;
  height: 70vh;
}

#AboutWords{
  flex: 1;
  font-size: 4vw;
  padding: 1vw;
  background-color: var(--navyBlue);
}

#AboutPic{
  flex: 0.5;
  height: 100%;
}

footer{
  font-size: 2vw;
  background-color: var(--navyBlue);
  padding: 10px;
  flex-shrink: 0;
  margin-top: 50px;
}

.score{
  background-color: var(--navyBlue);
  padding: 1vw;
  margin: 1vw;
  display: flex;
}

.scoreTitle{
  font-size: 3vw !important;
  color: var(--lightBeige);
  background-color:var(--lightRed);
  padding: 5px;
  border-radius: 10px;
}

.scoreDesc{
  font-size: 2vw;
  text-align: center;
}

.scoreImg{
  flex: 2;
  max-width: 50vw;
  max-height: 50vw;
}

.scorePrice{
  font-size: 4vw;
  margin-top: 1vw;
  background-color: var(--attentionGreen);
  border: none;
  border-radius: 5px;
}

.scorePrice:hover{
  background-color: var(--attentionDarkGreen);
  transition: 1s;
}

@media only screen and (max-width: 500px){
  #About{
    display: block;
    text-align: center;
    height: 70vh;
  }
  
  #AboutPic{
    width: 65vw;
    height: 60%;
  }

  #AboutWords{
    font-size: 6.5vw;
    height: 40%;
    padding: 2vw;
  }

  #navbar{
    text-align: center;
  }
  .navbar-button{
    font-size: 8vw;
    margin-left: 2vw;
  }
  .navbar-button-active{
    font-size: 8vw;
    margin-left: 2vw;
  }

  footer{
    font-size: 4vw;
  }

  .score{
    padding: 2px;
    margin: 2px;
    display: flex;
  }
  
  .scoreTitle{
    font-size: 3vw !important;
    border-radius: 0px;
    background-color: transparent;
  }
  
  .scoreDesc{
    font-size: 2vw;
    text-align: center;
  }
  
  .scoreImg{
    flex: 1;
    max-width: 50vw;
    max-height: 50vw;
  }
}